@{
    ViewData["Title"] = "Finance";
}
<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">Finance</div>
  <div class="card-body">
    <p>Welcome to the Finance section.</p>
  </div>
</div>
