@{
    ViewData["Title"] = "Instructions";
}
<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">Instructions</div>
  <div class="card-body">
    <p>Welcome to the Instructions section.</p>
  </div>
</div>
