@{
    ViewData["Title"] = "MPPSStandards";
}
<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">MPPSStandards</div>
  <div class="card-body">
    <p>Welcome to the MPPSStandards section.</p>
  </div>
</div>
