@{
    ViewData["Title"] = "Engineering";
}
<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">Engineering</div>
  <div class="card-body">
    <p>Welcome to the Engineering section.</p>
  </div>
</div>
