@model IEnumerable<WebsiteCms.Models.DocumentModel>
@{
    ViewData["Title"] = "Quality - Instruction";
}
<h2>Quality - Instruction</h2>
<p>This is the <b>Quality</b> controller’s <b>Instruction</b> view.</p>

@await Html.PartialAsync("_DocumentTable", Model)