@model IEnumerable<WebsiteCms.Models.DocumentModel>
@{
    ViewData["Title"] = "Quality - Lab";
}
<h2>Quality - Lab</h2>
<p>This is the <b>Quality</b> controller’s <b>Lab</b> view.</p>

@await Html.PartialAsync("_DocumentTable", Model)