@{
    ViewData["Title"] = "Logistic";
}
<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">Logistic</div>
  <div class="card-body">
    <p>Welcome to the Logistic section.</p>
  </div>
</div>
